body {
    background-color: #666666;
    
}

#title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid orange;
    padding: 20px;
    color: beige;
}

.game-inst {
    color: #666666;
    background-color: #ffb31a;
}

.game-inst:hover {
    background-color: orange;
    color: black;
}

.card-body {
    text-align: center;
    color: orange;
    background-color: #737373;
}

.number-wins-losses {
    text-align: center;
    padding: 20px;
    border: 5px solid orange;
    color: beige;
    margin-top: 10px;
}

.owimage:hover {
    cursor: pointer;
}

#compnumber {
    padding-top: 25px;
}

#overwatch {
    margin: 20px;
}

#totalscore {
    border: 5px solid orange;
    margin-bottom: 20px;
    color: beige;
}

